@import url("../globals.css");

main {
    overflow: hidden;
    padding: 2rem;
}

.big_text_projects {
    font-size: 40px;
    max-width: fit-content;
    text-shadow: 0 0 25px white;
    width: 60%;
}

.project_icon {
    display: flex;
    flex-direction: column;
    font-size: x-small;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
}

.projects_parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.project_image:hover {
    transform: translateY(-10px);
    z-index: 1000;
}

.project_image {
    width: 9rem;
    transition: transform 0.3s ease-in-out;
    height: 9rem;
    border-radius: 9999px;
    border: 1px solid white;
}

.footer_style {
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    z-index: 100000;
    position: fixed; /* or 'absolute' depending on your layout needs */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 70%; /* This will now be calculated automatically */
    width: 20rem; /* This will now be calculated automatically */
    background-color : var(--bg__color);
    border-radius: 1rem;
}

.modal_image {
    border-radius: 1rem;
    width: 8rem;
    height: 8rem;
}